<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591626851236-h7ksunc2ifnjatpmou1mhk7h81nv9sqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591626851236-h7ksunc2ifnjatpmou1mhk7h81nv9sqc</string>
	<key>API_KEY</key>
	<string>AIzaSyCYnLJCe4cPPVJ26cR9i5IIIflaOwiJ9cU</string>
	<key>GCM_SENDER_ID</key>
	<string>591626851236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Alysei</string>
	<key>PROJECT_ID</key>
	<string>alysei-ios-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>alysei-ios-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591626851236:ios:b1c344bda1f1f909c32731</string>
</dict>
</plist>